.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px; }

.logo-dekstop {
  width: 212px;
  height: 62px; }

.logo-mobile {
  display: none; }

@media (max-width: 425px) {
  .wrapper {
    justify-content: center;
    margin: 0px; }
  .logo-dekstop {
    display: none; }
  .logo-mobile {
    display: flex; }
  .helpBtn {
    margin-right: 18px; } }

.menu-icon {
  display: none; }

@media (max-width: 1024px) {
  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer; }
  .menu-icon span, .menu-icon::before, .menu-icon::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #EF3959; }
  .menu-icon::before, .menu-icon::after {
    content: ""; }
  .menu-icon::before {
    top: 0; }
  .menu-icon::after {
    bottom: 0; }
  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%); }
  .menu-icon.active span {
    transform: scale(0) translate(0px, -50%); }
  .menu-icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%); }
  .menu-icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%); } }

.menu-list {
  display: flex;
  padding: 0px; }
  .menu-list__link {
    font-size: 18px;
    font-family: Poppins;
    white-space: nowrap; }
  .menu-list__link:hover {
    text-decoration: underline; }
  .menu-list__item {
    list-style-type: none; }
    .menu-list__item:not(:last-child) {
      margin-right: 23px; }

@media (max-width: 1024px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 80px 0 0 0;
    transition: right 0.4s ease 0s;
    overflow: auto; }
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; }
    .menu-list__link {
      font-size: 25px;
      color: white; }
    .menu-list__item {
      list-style-type: none; }
      .menu-list__item:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0px; }
  .menu.active {
    right: 0; } }

.hidden {
  display: none; }

.btnPopUp {
  display: flex;
  padding: 10px;
  border: none;
  background-color: transparent;
  align-items: center; }

.text {
  font-family: Poppins;
  font-size: 16px;
  white-space: nowrap; }

.arrowIcon {
  margin-right: 5px; }

.popupWindow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-44.5%) translateX(22.5%) scale(0);
  transition: .4s ease-in-out; }

.popupWindow.active {
  transform: translateY(0%) translateX(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.6); }

.popupContainer {
  display: flex;
  width: 100%;
  height: 100%; }

.popupForm {
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 70px 15px 110px 15px;
  position: relative; }
  .popupForm .select-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 10px auto; }
    .popupForm .select-title .popupTitle {
      text-align: left;
      text-transform: uppercase;
      font-family: Poppins;
      margin-bottom: 30px; }
    .popupForm .select-title .country, .popupForm .select-title .language {
      font-size: 18px;
      font-family: Poppins;
      margin-bottom: 15px;
      padding: 3px 16px;
      height: 45px;
      border: 1px solid #c7ccd1;
      border-radius: 3px;
      cursor: pointer;
      outline: none;
      background-color: transparent; }
    .popupForm .select-title .applyBtn {
      font-size: 18px;
      font-family: Poppins;
      font-weight: 600;
      background-color: #EF3959;
      border: none;
      border-radius: 3px;
      color: white;
      height: 45px; }

.popupClose {
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 23px;
  font-weight: 600;
  font-family: Poppins;
  cursor: pointer; }

@media (max-width: 1024px) {
  .btnPopUp {
    margin-left: 110px; }
  .popupWindow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) translateX(0.5%) scale(0);
    transition: .4s ease-in-out; }
  .popupForm {
    width: 500px;
    padding: 20px 15px 80px 15px; } }

@media (max-width: 768px) {
  .btnPopUp {
    display: none; }
  .arrowIcon {
    margin-right: 5px;
    background: white; }
  .text {
    font-family: Poppins;
    font-size: 25px;
    color: white; }
  .menu.active .btnPopUp {
    display: flex;
    margin-left: 0; } }

@media (max-width: 425px) {
  .popupForm {
    width: 380px; }
  .country, .language {
    width: 380px; }
  .applyBtn {
    width: 380px; } }

@media (max-width: 375px) {
  .popupForm {
    width: 320px; }
  .country, .language {
    width: 320px; }
  .applyBtn {
    width: 320px; } }

@media (max-width: 320px) {
  .popupForm {
    width: 280px; }
  .country, .language {
    width: 280px; }
  .applyBtn {
    width: 280px; } }

.helpBtn {
  cursor: pointer;
  width: 213px;
  height: 60px;
  border-radius: 25px;
  font-size: 27px;
  font-family: Poppins;
  font-weight: 600;
  background: #EF3959;
  border: none;
  color: white;
  box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4); }

a {
  text-decoration: none;
  color: black; }

.infoBlocks {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }

.selectBtn {
  margin-left: 47px; }

.image {
  margin-left: 35px; }

.img {
  width: 420px; }

.titleBlock {
  font-family: Poppins;
  text-transform: uppercase;
  color: #EF3959;
  margin-bottom: 0; }

.subTitleBlock {
  font-family: Poppins;
  font-size: 23px;
  white-space: pre-line;
  margin-top: 0;
  margin-bottom: 0; }

.chooseBtn {
  cursor: pointer;
  width: 250px;
  height: 60px;
  margin-top: 85px;
  border-radius: 25px 25px 25px 0px;
  font-size: 27px;
  font-family: Poppins;
  font-weight: 600;
  background: #EF3959;
  border: none;
  color: white;
  box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4); }

@media (max-width: 768px) {
  .infoBlocks {
    margin-bottom: 60px; }
  .img {
    width: 350px; }
  .titleBlock {
    font-size: 26px; }
  .subTitleBlock {
    font-size: 18px; } }

@media (max-width: 425px) {
  .infoBlocks {
    flex-direction: column;
    align-items: center; }
  .image {
    order: 1;
    margin-top: 30px; }
  .img {
    margin-right: 30px; }
  .titleBlock {
    font-size: 35px; }
  .subTitleBlock {
    font-size: 18px; }
  .chooseBtn {
    width: 330px;
    margin-top: 35px; } }

@media (max-width: 375px) {
  .selectBtn {
    margin-left: 30px; }
  .titleBlock {
    font-size: 35px; }
  .subTitleBlock {
    font-size: 19px; }
  .chooseBtn {
    width: 320px;
    margin-top: 25px; }
  .img {
    width: 325px; } }

@media (max-width: 320px) {
  .selectBtn {
    margin-left: 30px; }
  .titleBlock {
    font-size: 25px; }
  .subTitleBlock {
    font-size: 15px; }
  .chooseBtn {
    width: 260px;
    margin-top: 25px; }
  .img {
    width: 300px; } }

.aboutShelter {
  display: flex;
  justify-content: space-between; }

.image1 {
  margin-left: 47px; }

.decorImg {
  width: 420px; }

.title {
  font-family: Poppins;
  text-transform: uppercase;
  color: #EF3959;
  margin-bottom: 0; }

.subTitle {
  font-family: Poppins;
  font-size: 23px;
  white-space: pre-line;
  margin-top: 0;
  margin-bottom: 0; }

.moreDet {
  margin-right: 32px; }

.moreDetBtn {
  width: 250px;
  border-radius: 25px 25px 25px 0px;
  height: 60px;
  margin-top: 85px;
  position: relative;
  background: linear-gradient(93.62deg, #4A86FF 3.11%, #F5F5F5 50.76%, #EF3959 98.4%);
  cursor: pointer;
  line-height: 12px;
  border: none; }

.moreDetBtn::before {
  content: '';
  z-index: 1;
  position: absolute;
  background: linear-gradient(93.62deg, #4A86FF 3.11%, #F5F5F5 50.76%, #EF3959 98.4%);
  width: 98%;
  height: 87%;
  top: 6%;
  left: 1%;
  display: block;
  filter: blur(15px);
  opacity: 0;
  transition: 0.3s opacity ease-in-out; }

.moreDetBtn:hover::before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
  background: linear-gradient(93.62deg, #4A86FF 3.11%, #F5F5F5 50.76%, #EF3959 98.4%); }

.moreDetBtn:after {
  content: 'More detailes';
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 50px;
  color: #EF3959;
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px 25px 25px 0px;
  width: 98%;
  height: 87%;
  top: 6%;
  left: 1%;
  background-color: white; }

@media (max-width: 1024px) {
  .aboutShelter {
    align-items: center; }
  .moreDet {
    margin-left: 50px; }
  .moreDetBtn {
    margin-top: 35px; } }

@media (max-width: 768px) {
  .aboutShelter {
    align-items: center; }
  .decorImg {
    width: 350px; }
  .moreDet {
    margin-left: 30px; }
  .title {
    font-size: 26px; }
  .subTitle {
    font-size: 17px; }
  .moreDetBtn {
    margin-top: 35px; } }

@media (max-width: 425px) {
  .aboutShelter {
    flex-direction: column;
    align-items: center; }
  .image1 {
    order: 1;
    margin-top: 30px; }
  .decorImg {
    margin-right: 30px; }
  .titleAboutUs {
    display: flex;
    justify-content: center;
    order: 2; }
    .titleAboutUs .title {
      font-size: 35px; }
  .subTitle {
    margin-left: 12px;
    font-size: 16px; }
  .moreDetBtn {
    width: 330px;
    margin-left: 12px; } }

@media (max-width: 375px) {
  .title {
    font-size: 35px; }
  .subTitle {
    font-size: 17px; }
  .moreDet {
    margin-right: 0; }
  .moreDetBtn {
    width: 323px; }
  .decorImg {
    width: 325px;
    margin-right: 0; } }

@media (max-width: 320px) {
  .title {
    font-size: 25px;
    margin: 0; }
  .subTitle {
    font-size: 15px; }
  .moreDetBtn {
    width: 280px; }
  .decorImg {
    width: 300px; } }
